body {
  font-family: "inter";
  background-color: var(--off-Black--);
}

.container {
  background-color: var(--dark-grey--);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  height: 650px;
  border-radius: 20px;
}

.container .foto-perfil .imagem {
  width: 86px;
  height: 86px;
  border-radius: 50%;
}

.descricao {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.perfil .descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.descricao h2 {
  color: var(--white--);
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
}

.descricao p {
  color: var(--primary-color--);
  margin-bottom: 35px;
  font-size: 15px;
  font-weight: 500;
}

.descricao span {
  color: var(--white--);
  font-size: 14px;
  margin-bottom: 15px;
}

.botoes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.botao {
  color: #ffffff;
  background-color: var(--grey--);
  width: 20rem;
  height: 2.5rem;
  border-radius: 10px;
}

.botao {
  transition: all 0.2s ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.botoes .botao:hover {
  background-color: var(--primary-color--);
  color: var(--dark-grey--);
  font-weight: 700;
}
